Checks: '-*,
        bugprone-*,
        -bugprone-suspicious-semicolon,
        clang-analyzer-*,
        -clang-analyzer-osx.*,
        misc-*,
        modernize-concat-nested-namespaces,
        modernize-deprecated-*,
        modernize-make-*,
        modernize-use-*,
        -modernize-use-nodiscard,
        performance-*'
CheckOptions:
  - key: bugprone-assert-side-effect.AssertMacros
    value: assert, LWIP_ASSERT
  - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: 1
  - key: modernize-use-default-member-init.UseAssignment
    value: 1
