[submodule "deps/dpdk"]
	path = deps/dpdk
	url = git://dpdk.org/dpdk
[submodule "deps/libzmq"]
	path = deps/libzmq
	url = https://github.com/zeromq/libzmq.git
[submodule "deps/lwip"]
	path = deps/lwip
	url = git://git.savannah.gnu.org/lwip.git
[submodule "deps/pistache"]
	path = deps/pistache
	url = https://github.com/oktal/pistache.git
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json.git
