[submodule "deps/dpdk"]
	path = deps/dpdk
	url = https://dpdk.org/git/dpdk
[submodule "deps/libzmq"]
	path = deps/libzmq
	url = https://github.com/zeromq/libzmq.git
[submodule "deps/lwip"]
	path = deps/lwip
	url = git://git.savannah.gnu.org/lwip.git
[submodule "deps/pistache"]
	path = deps/pistache
	url = https://github.com/oktal/pistache.git
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json.git
[submodule "deps/expected"]
	path = deps/expected
	url = https://github.com/TartanLlama/expected.git
[submodule "deps/yaml-cpp"]
	path = deps/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "deps/immer"]
	path = deps/immer
	url = https://github.com/arximboldi/immer.git
[submodule "deps/digestible"]
	path = deps/digestible
	url = https://github.com/SpirentOrion/digestible.git
[submodule "deps/range-v3"]
	path = deps/range-v3
	url = https://github.com/ericniebler/range-v3.git
