version: 2.1

jobs:
  acceptance_tests:
    machine:
      image: circleci/classic:latest
    steps:
      - attach_workspace:
          at: "~"
      - run:
          name: Download latest openperf container
          command: docker pull spirentorion/openperf:latest
      - run:
          name: Run containerized build and test
          command: docker run -it --privileged -v ~/project:/root/project spirentorion/openperf:latest /bin/bash -c "cd /root/project/tests/aat && make junit"
      - run:
          name: Collect AAT log
          when: always
          command: |
            set -xe
            mkdir -p /tmp/log
            cp ~/project/tests/aat/*.log /tmp/log
            cp ~/project/tests/aat/*.xml /tmp/log
      - store_test_results:
          path: /tmp/log
      - store_artifacts:
          path: /tmp/log

  build:
    docker:
      - image: spirentorion/openperf:latest
    steps:
      - checkout
      - run:
          name: Build and generate compilation database
          command: .circleci/run_build.sh
      - store_artifacts:
          path: ~/project/build/openperf-linux-x86_64-testing/bin
      - store_artifacts:
          path: ~/project/build/libopenperf-shim-linux-x86_64-testing/lib
      - persist_to_workspace:
          root: "~"
          paths:
            - project

  build_secondary:
    docker:
      - image: spirentorion/openperf:latest
    steps:
      - checkout
      - run:
          name: Build and generate compilation database
          command: .circleci/run_build.sh OP_PACKETIO_DPDK_PROCESS_TYPE=secondary
      - store_artifacts:
          path: ~/project/build/openperf-linux-x86_64-testing/bin
      - store_artifacts:
          path: ~/project/build/libopenperf-shim-linux-x86_64-testing/lib
      - persist_to_workspace:
          root: "~"
          paths:
            - project

  cross_compile_aarch64:
    docker:
      - image: spirentorion/openperf:latest
    steps:
      - checkout
      - run:
          name: Cross-compile for Aarch64
          command: .circleci/run_cross_compile_aarch64.sh
      - store_artifacts:
          path: ~/project/build/openperf-linux-aarch64-testing/bin
      - store_artifacts:
          path: ~/project/build/libopenperf-shim-linux-aarch64-testing/lib

  static_analysis:
    docker:
      - image: spirentorion/openperf:latest
    steps:
      - attach_workspace:
          at: "~"
      - run:
          name: Run static analysis checks
          command: .circleci/run_clang_tidy.sh

  unit_tests:
    docker:
      - image: spirentorion/openperf:latest
    steps:
      - checkout
      - run:
          name: Run unit tests
          command: .circleci/run_unit_tests.sh

workflows:
  version: 2
  ci_build:
    jobs:
      - build
      - build_secondary
      - cross_compile_aarch64
      - acceptance_tests:
          requires:
            - build
      - static_analysis:
          requires:
            - build
      - unit_tests
